.pokedex{
    padding-top: 80px;
    width: 100%;
    min-height: 77vh;
    background-color: var(--bg-color);
    color: var(--text-color)
}

.pokedex-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 99;
    position: fixed;
}

.pokedex-title{
    font-family: 'Lato', sans-serif;
    width: 100%;
    font-size: 22px;
    padding-left: 30px;
    justify-self: center;
}

.pokedex-grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 80px;
}

.loading{
    padding-top: 100px;
    height: 200vh;
}

