.pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);

    width: 100px;
    padding-right: 30px;
    font-family: 'Lato';
}

.pages-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-right: 60px;
}

.arrows{
    width: 55px;
    height: 55px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
    color: var(--text-color);
}


.pag-prev:hover{    
    transform: translateX(-10px);
}

.pag-next:hover{    
    transform: translateX(10px);
}

.pag-info{
    width: 70px;
    text-align: center;
    cursor: normal;
}