.pokemon-card-list{
    width: 350px;
    padding:10px;
    height: 90px;
    border-bottom: 6px solid var(--blue-hover);
    box-shadow: 6px -3px 9px rgba(0, 0, 0, 0.322);
    margin-bottom: 30px;
    transition: .4s;
    cursor: pointer;
    background-color: var(--card-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--text-color);

    display: flex;

}

.pokemon-card-list:hover{
    transform: translateY(-10px);
}

.pokemon-name{
    text-decoration: none;
}

.pokemon-info{
    width: 90%;

    display: flex;
    flex-direction: column;
}

.pokemon-position{
    align-self: flex-end;
    padding-right: 5px;
}

.pokemon-type{
    display: flex;
    flex: row;
    padding-top: 10px;
}

.type-container{
    width: 55px;
    height: 22px;
    text-align: center;
    margin-right: 5px;
    border-radius: 20px;
    color: white;
    padding: 0 3px;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.favorite{
 align-self: flex-end;
 color: var(--text-color);

 padding-right: 5px;
 padding-bottom: 10px;
 background: transparent;
 border: none;
 outline: none;
 cursor: pointer;
}


/* cores das tags type */
.type-fire{
    background-image: var(--fire-tag);
}

.type-poison{
    background-image: var(--poison-tag);
}

.type-grass{
    background-image: var(--grass-tag);
}

.type-water{
    background-image: var(--water-tag);
}

.type-bug{
    background-image: var(--bug-tag);
}

.type-electric{
    background-image: var(--eletric-tag);
}

.type-ground{
    background-image: var(--ground-tag);
}

.type-flying{
    background-image: var(--flying-tag);
}

.type-fairy{
    background-image: var(--fairy-tag);
}

.type-normal{
    background-image: var(--normal-tag);
}

.type-fighting{
    background-image: var(--fighting-tag)
}

.type-psychic{
    background-image: var(--psychic-tag)
}

.type-rock{
    background-image: var(--rock-tag);
}

.type-ice{
    background-image: var(--ice-tag);
}

.type-steel{
    background-image: var(--steel-tag);
}

.type-ghost{
    background-image: var(--ghost-tag);
}

.type-dragon{
    background-image: var(--dragon-tag);
}

.type-dark{
    background-image: var(--dark-tag);
}