.pokemon-card-list{
    width: 350px;
    padding:10px;
    height: 90px;
    border-bottom: 6px solid var(--blue-hover);
    box-shadow: 6px -3px 9px rgba(0, 0, 0, 0.322);
    margin-bottom: 30px;
    transition: .4s;
    cursor: pointer;
    background-color: #f4f3ee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    display: flex;

}

.pokemon-card-list:hover{
    transform: translateY(-10px);
}

.pokemon-info{
    width: 90%;

    display: flex;
    flex-direction: column;
}

.pokemon-position{
    align-self: flex-end;
    padding-right: 5px;
}

.pokemon-type{
    display: flex;
    flex: row;
    padding-top: 10px;
}

.type-container{
    width: 55px;
    height: 22px;
    text-align: center;
    margin-right: 5px;
    border-radius: 20px;
    color: white;
    padding: 0 3px;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

}


/* cores das tags type */
.type-fire{
    background-color: var(--fire-tag);
}

.type-poison{
    background-color: var(--poison-tag);
}

.type-grass{
    background-color: var(--grass-tag);
}

.type-water{
    background-color: var(--water-tag);
}

.type-bug{
    background-color: var(--bug-tag);
}

.type-electric{
    background-color: var(--eletric-tag);
}

.type-ground{
    background-color: var(--ground-tag);
}

.type-flying{
    background-color: var(--flying-tag);
}

.type-fairy{
    background-color: var(--fairy-tag);
}

.type-normal{
    background-color: var(--normal-tag);
}