.search-bar{
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.search-span{
    position: absolute;
    right: -15px;   
}

.search-input{
    width: 250px;
    height: 25px;
    padding: 5px;
    margin-left: 10px;
    padding-left: 8px;
    border: none;
    outline: none;
    transition: .4s;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: 'Lato';
    font-weight: 400;
}

.search-input:focus{
    width: 280px;
    border: 3px solid var(--blue);
}

.info-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.info-button:hover + .info-modal{
    display: flex;
    transition: .4s;
}


.button-search{
    width: 43px;
    height: 43px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--blue);
    transition: .4s;
}

.button-search:hover{
    background-color: var(--blue-hover);
}

.info-modal{
    width: 150px;
    height: 60px;
    padding: 6px;
    text-align: center;
    background-color: var(--blue-hover);
    color: white;
    position: absolute;
    top: -18px;
    left: -170px;
    transition: .4s;
    display: none;
    animation: slideY .7s;
    font-family: 'Lato';
    font-weight: 300;
    border-radius: 10px;

}

@keyframes slideY{
    from{
       transform: translateY(-90px);
       opacity: 0;
    }
   
    to{
       transform: translateY(0);
       opacity: 100%;
    }
   }

/* MOBILE */
@media(max-width: 414px){
    .search-bar{
        margin-top: 50px;
        margin-left: 150px;
        align-items: flex-end;
        justify-content: center;
    }

    .search-input{
        width: 175px;
        height: 18px;
    }

    .button-search{
        width: 30px;
        height: 30px;
    }

    .info-button{
        display: none;
    }

    .search-input:focus{
       width: 175px; 
        border: none;
    }
}