.cabecalho{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    background-color: var(--red);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.295);

    display: flex;
    align-items: center;
}

.logo{  
    padding: 10px;
    width: 150px;
}

.theme-container{
    padding-right: 30px;
}

.theme-icon{
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
}