.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato';
    margin-top: 100px;
    color: var(--text-color);
    transition: .4s;
}

.loading-image{
    width: 25%;
}

.loading-text{
    font-size: 26px;
    padding-top: 15px;
}

/* MOBILE */
@media(max-width: 414px){
    .loading-container{
        margin-top: 150px;
    }
    
    .loading-image{
        width: 50%;
    }
}

