.pokemon-details{
    width: 100%;
    height: 81vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    font-family: 'Lato';
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: .4s;
}

.pokemon-infos{
    min-width: 300px;
    height: 310px;
    background-color: var(--card-color);
    border-bottom: 6px solid var(--red);
    border-radius: 50px 50px 0 0;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
}

.pokemon-photo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pokemon-sprite{
    width: 50%;
    padding: 10px;
    position: absolute;
    top: -55px;
}

.infos-geral{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    position: relative;
}

.pokemon-card-title span{
    padding-left: 5px;
    font-weight: lighter;
}

.pokemon-card-title{
    padding: 15px 0;
}

.types{
    padding-top: 5px;
    display: flex;
}

.peso-altura{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    background-color: var(--card-color);
    font-size: 16px;
    font-weight: bold;
}

.peso-altura > p{
    padding-bottom: 10px;
}
/* -------- */

.pokemon-status{
    min-width: 300px;
    height: 310px;
    display: flex;
    flex-direction: row;

    margin-left: 10px;
}


.status{
    width: 300px;
    background-color: var(--card-color);
    box-shadow: 8px 8px 0 var(--red);
    border-radius: 10px;
}

.status-title{
    text-align: center;
    padding-top: 20px;
}